*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background-color:#2582BA;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    
}
.world-trip{
    font-size: 3rem;
    padding: 1rem;
    flex-grow: 1;
}
.nav{
    flex-grow: 3;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    flex-grow: 1;
}
.nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: inherit;
}
.nav ul li a:hover{
    color:#5EE7EE;
}
.content{
    background: url(/img/picture5.jpg) no-repeat;
    background-size: cover;
}
.content-text{
    padding: 10% 0;
}
.content-text-item{
    margin: auto;
    width: 70%;
}
.content-text-item h2{
    font-size: 3rem;
    margin-bottom: 1.2rem;
    color:#FFFFFF;
    text-transform: uppercase;
}
.content-text-item p{
    color: #FFFFFF;
    font-size: 2rem;
    line-height: 1.5;
}
.main-content{
    display: flex;
    flex-direction: row;
    padding: 2% 0;
}
.main-item{
    flex-grow: 1;
    padding: 2%;
    line-height: 1.5;
    text-align: center;
}
.main-item h2{
    color:#2582BA;
    font-size: 2rem;
}
.main-item p{
     color:#7f8c8d;
     margin-top: 0.5rem;
}
.form-container{
    background: url(/img/picture10.jpg) no-repeat;
    background-size:cover;
}
.form-container h2{
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    color: #2582BA;
}
.form{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    align-items: center;
}
.form input,.form textarea{
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
    outline: none;
    border: 1px solid #2582BA;
    resize: none;
    width: 70%;
}
.form input:hover,.form textarea:hover{
    border-color: red;
}

.form button{
    background-color: #c0392b;
    padding: 1rem;
    margin-top: 1rem;
    color: white;
    font-size: 1.5rem;
    width: 50%;
    border: none;
    border-radius: 10px;
    outline: none;
}
.form button:hover{
    background-color:#ff7675;
}
@media (max-width:600px){
    .container{
        flex-direction: column;
        text-align: center;
    }
    .nav ul{
        flex-direction: column;
        margin-top: 1rem;
    }
    .nav ul li{
        padding:5px;
    }
    .content-text-item h2{
        font-size: 1.5rem;
    }
    .content-text-item p{
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .main-content{
        flex-direction: column;
    }
    .main-item h2{
        font-size: 1rem;
    }
    .main-item p{
        font-size: 0.75rem;
    }
    .form-container h2{
        font-size: 1.5rem;
    }
}